@use "../styles/vars" as *;

.content {
  %marginBottom {
    margin: 0 auto 1.7rem;
  }

  p, pre, blockquote, ul, ol {
    margin-top: 0;
    @extend %marginBottom;
  }

  blockquote {
    background: var(--warn);
    border: 0;
    width: 90%;
    min-width: 280px;
    border: dotted 4px var(--highlight);
    border-radius: 20px;
    padding: 1.2em;
    @extend %marginBottom;
    p {
      margin: 0;
    }
  }

  pre {
    font-size: 0.8em;
    @extend %marginBottom;
    background: var(--codeColor);
  }

  code {
    background: var(--codeColor);
  }

  h2 {
    color: var(--boldColor);
    margin-top: 3rem;
    @extend %marginBottom;
  }

  h3 {
    color: var(--dark-highlight);
    border-bottom: 2px dashed #ccc;
    @extend %marginBottom;
  }

  .summary {
    font-style: italic;
    margin: 1em 0 0;
  }

  ol {
    list-style: none; 
    counter-reset: olList;
    padding: 0;
    li {
      display: flex;
      flex-wrap: wrap;
      &:before {
        counter-increment: olList;
        content: counter(olList) ".";
        color: var(--boldColor);
        flex-basis: 4%;
        font-weight: bold;
      }
      p {
        flex-basis: 96%;
      }
    }
  }
  @for $i from 1 through 10 {
    ol[start="#{$i}"] {
      counter-reset: olList ($i - 1) ;
    }
  }

}