@use "../styles/vars" as *;

.appBody {
  background: $main;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-accent;
  
  .headerLogo, .headerLogo * {
    text-decoration: none;
    color: $light-main;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: -2px -2px 0 $highlight, 2px -2px 0 $dark-main, -2px 2px 0 $dark-main, 2px 2px 0 $dark-main;
  }
}

.footer {
  font-size: 1rem;
  text-align: center;
  background-image: url(/images/frog-swamp-pc.png);
  background-size: cover;
  padding-top: 275px;
  background-position: center;
  color: #799d7c;
  .container {
    padding: 3em 0;
  }
}

%container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container {
  @extend %container;
}

.mainContainer {
  @extend %container;
  display: flex;
  margin: 2em auto;
}

%box-padding {
  padding: 1.5em 2.5em;
}

.main {
  width: 70%;
  background: #fff;
  @extend %box-padding;
}

.sidebar {
  width: 30%;
  padding-left: 30px;

  .sideContain {
    background: #fff;
    @extend %box-padding;
  }
  h2 {
    color: $dark-main;
    border-bottom: 2px solid $dark-highlight;
    margin: 0;
  }
  ul { 
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

@media only screen and (max-width: $tablet2) {
  .mainContainer {
    flex-direction: column;
  }
  .main {
    width: 100%;
    margin-bottom: 2.5em;
  }
  .sidebar {
    width: 100%;
    padding: 0;
  }
}