@use "../styles/vars" as *;

.appBody {
  background: $main;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $light-accent;
  
  .headerLogo, .headerLogo * {
    text-decoration: none;
    color: $light-main;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: -2px -2px 0 $highlight, 2px -2px 0 $dark-main, -2px 2px 0 $dark-main, 2px 2px 0 $dark-main;
    border-bottom: 0;
  }
}

.footer {
  font-size: 1rem;
  text-align: center;
  background-image: url(/images/frog-swamp-pc.png);
  background-size: cover;
  padding-top: 275px;
  background-position: center;
  background-repeat: no-repeat;
  color: #799d7c;
  .container {
    padding: 3em 0;
  }
}

%container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container {
  @extend %container;
}

.mainContainer {
  @extend %container;
  display: flex;
  margin: 2em auto;
}

.main {
  width: 70%;
}

@media only screen and (max-width: $tablet2) {
  .mainContainer {
    flex-direction: column;
  }
  .main {
    width: 100%;
    margin-bottom: 2.5em;
  }
  .footer {
    background-size: 150%;
    background-position: 50% 100%;
    padding-top: 20%;
  }
}
@media only screen and (max-width: $mobile1) {
  .footer {
    padding-top: 20px;
  }
}