@use "../styles/vars" as *;

.sidebar {
  width: 30%;
  padding-left: 30px;
  
  .sideContain {
    background: #fff;
    margin-bottom: 1em;
    @extend %box-padding;
  }
  h2 {
    color: $dark-main;
    border-bottom: 2px solid $dark-highlight;
    margin: 0 0 0.5em;
  }
  ul { 
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .sideItem > a {
    display: block;
    border: none;
    color: inherit;
    background: $light-main;
    margin-bottom: 0.25em;
    padding: 0.5em;
  }
  
}

@media only screen and (max-width: $tablet2) {
  .sidebar {
    width: 100%;
    padding: 0;
  }
}