$main: #e2edda;
$dark-main: #539550;
$light-main: #f2f7ee;
$highlight: #ffcece;
$dark-highlight: #e69595;
$light-accent: #fffce3;

$tablet1: 1199px;
$tablet2: 899px;
$mobile1: 499px;
$mobile2: 329px;

%box-padding {
  padding: 1.5em 2.5em;
}