@use "../styles/vars" as *;

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",　Arial, sans-serif;
  font-weight: 300;
  color: #333;
}

* {
  box-sizing: border-box;
}

a {
  color: #7ebcda;
  text-decoration: none;
  background: #fefce3;
  border-bottom: 1px solid;
}

a:hover {
  color: $highlight;
  transition: 0.2s;
}

img {
  max-width: 100%;
  display: block;
}