@use "../styles/vars" as *;

// normal mode
:root {
  --textColor: #333;
  --boldColor: #539550;
  --contFill: #fff;
  --linkColor: #7ebcda;
  --warn: #fff3f3;
  --codeColor: #fdf6e3;
  --footerImg: url(/images/frog-swamp-pc.png);

  --main: #e2edda;
  --dark-main: #539550;
  --light-main: #f2f7ee;
  --highlight: #ffcece;
  --dark-highlight: #e69595;
  --light-accent: #fffce3;
}

// dark mode
[site-theme="dark"] {
  --textColor: #c9c9c9;
  --boldColor: #6ac566;
  --contFill: #161616;
  --linkColor: #8298e4;
  --warn: #160d0d;
  --codeColor: #1d1c34;
  --footerImg: url(/images/frog-swamp-dark.png);

  --main: #000000;
  --dark-main: #6ac566;
  --light-main: #27321e;
  --highlight: #75699b;
  --dark-highlight: #9ea7c9;
  --light-accent: #111e08;
}

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.8;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",　Arial, sans-serif;
  font-weight: 300;
  color: var(--textColor);
}

h1, h2, h3, h4 {
  font-family: Futura, -apple-system, BlinkMacSystemFont, "Segoe UI",　Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--linkColor);
  text-decoration: none;
  background: var(--light-accent);
  border-bottom: 1px solid;
}

a:hover {
  color: var(--highlight);
  transition: 0.2s;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0;
}
figcaption {
  font-size: 0.8em;
  color: #666;
}

.imgRight {
  float: right;
  margin: .5em 0 .5em 1em;
}
.imgLeft {
  float: left;
  margin: .5em 1em .5em 0;
}

.imgBlock {
  margin: 0 auto 1.7rem;
  text-align: center;
}

.imgInline {
  display: inline-block;
}


.imgGallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  margin: 0 auto 1.7rem;
}

.modify:before {
  content: "↻";
  font-size: 0.8em;
  margin-right: 4px;
}

@media only screen and (max-width: $mobile1) {
  .imgGallery {
    grid-template-columns: 1fr;
  }
}