@use "vars" as *;

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.blogList {
  list-style: none;
  padding: 0;
  margin: 0;

  .listItem {
    padding: 3rem 0;
    border-bottom: 2px solid var(--main);
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  
}

.metaInfo {
  color: #888;
  font-size: .9em;
}

.headingStyle1, .headingStyle1 * {
  color: var(--dark-main);
  font-size: 1.7rem;
  line-height: 1.5em;
  border: 0;
  background: 0;
  margin: 0;
  a:hover {
    color: var(--dark-highlight);
  }
}

.tagStyle {
  background: none;
  border: 0;
  color: inherit;
}

.contentBody {
  background: var(--contFill);
  @extend %box-padding;
  h2:first-child {
    margin-top: 0.5em;
  }
}

.contentHeader {
  @extend %box-padding;
  background: var(--light-main);

  .arcTitle {
    font-family: Courier New,monospace;
    font-size: 2.5em;
    margin: 0;
    color: var(--light-accent);
    text-shadow: 
      -1px -1px 1px var(--dark-highlight), 
      2px 2px 1px var(--dark-highlight), 
      -1px 0px 1px var(--dark-highlight), 
      1px 1px 1px var(--dark-highlight);
    line-height: normal;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 2em 0;
  a {
    margin: 0 0.5em;
    padding: 3px 10px;
    background: var(--contFill);
    border-bottom: none;
    color: var(--dark-main);
    border-radius: 20px;
  }
  .current {
    background: var(--dark-highlight);
    font-weight: bold;
    color: var(--textColor);
  }
}

ol.toc {
  list-style: lower-roman;
  padding: 38px 0 15px 40px;
  background: var(--transModalS);
  position: relative;
  &:before {
    content: "Table of Contents";
    position: absolute;
    background: var(--dark-highlight);
    color: var(--contFill);
    top: -5px;
    left: 10px;
    padding: 0 10px;
  }
  li {
    display: list-item;
    &:before {
      content: none;
    }
    &::marker {
      color: var(--textColorLight);
    }
    a {
      color: var(--textColor);
      background: none;
      border: none;
    }
  }

  ol {
    list-style: lower-roman;
    padding-left: 18px;
    margin: 0;
    li {
      &::marker {
        font-size: 0.7em;
      }
    }
  }
  
}
