@use "vars" as *;

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.blogList {
  list-style: none;
  padding: 0;
  margin: 0;

  .listItem {
    padding: 3rem 0;
    border-bottom: 2px solid $main;
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  
}

.metaInfo {
  color: #888;
  font-size: .9em;
}

.headingStyle1, .headingStyle1 * {
  color: $dark-main;
  font-size: 1.5rem;
  border: 0;
  background: 0;
  margin: 0;
  a:hover {
    color: $dark-highlight;
  }
}

.tagStyle {
  background: none;
  border: 0;
  color: inherit;
}

.contentBody {
  background: #fff;
  @extend %box-padding;
  h2:first-child {
    margin-top: 0.5em;
  }
}

.contentHeader {
  @extend %box-padding;
  background: $light-main;

  .arcTitle {
    font-family: Courier New,monospace;
    font-size: 2.5em;
    margin: 0;
    color: $light-accent;
    text-shadow: 
      -1px -1px 1px $dark-highlight, 
      2px 2px 1px $dark-highlight, 
      -1px 0px 1px $dark-highlight, 
      1px 1px 1px $dark-highlight;
    line-height: normal;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 2em 0;
  a {
    margin: 0 0.5em;
    padding: 3px 10px;
    background: #fff;
    border-bottom: none;
    color: $dark-main;
  }
  .current {
    background: $dark-highlight;
    font-weight: bold;
    color: #fff;
  }
}
