@use "vars" as *;

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.blogList {
  list-style: none;
  padding: 0;
  margin: 0;

  .listItem {
    padding: 3rem 0;
    border-bottom: 2px solid $main;
    &:last-child {
      border-bottom: 0;
    }
  }
  
}

.lightText {
  color: #666;
}

.headingStyle1, .headingStyle1 * {
  color: $dark-main;
  font-size: 1.5rem;
  border: 0;
  background: 0;
  margin-top: 0;
  a:hover {
    color: $dark-highlight;
  }
}

.sideContain {
  background: #fff;
  margin-bottom: 1em;
  @extend %box-padding;
  h2 {
    color: $dark-main;
    border-bottom: 2px solid $dark-highlight;
    margin: 0 0 0.5em;
  }
  ul { 
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .sideItem > a {
    display: block;
    border: none;
    color: inherit;
    background: $light-main;
    margin-bottom: 0.25em;
    padding: 0.5em;
  }
}

